h3 {
    font-size: 15px;
}

.cover {
    height: 250px;
    width: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42);
    margin: 5px;
    transition: all .2s ease-in-out;
}

.cover:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);  
  }

.cover-page img {
    width: 300px;
    height: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42);
    margin: 5px;
}

.modal {
    width: 600px;
}